<%- include("partials/header.ejs") %>
  <h1>About Me</h1>
  <img class="profile" src="images/cat.jpeg" alt="cat profile">
  <p>
    Hello!! my name is Bharath and iam a aiml engineering student.A tech enthusiast who is exploring and learning tech.
  </p>

  <ul class="center aboutli">
    <li><a
        href="https://www.udemy.com/course/the-complete-web-development-bootcamp/learn/lecture/37390282#content">HTML||</a>
    </li>
    <li><a href="https://react.dev/">REACT||</a></li>
    <li>JQUERY||</li>
    <li>JAVASCRIPT||</li>
    <li>NODE JS||</li>
    <li>EXPRESS JS||</li>
    <li>CSS||</li>
    <li>TAILWIND||</li>
    <li>BOOTSTRAP</li>

  </ul>

  <%- include("partials/footer.ejs") %>