<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>Hi, I'm Bharath 👋
    I'm an AI & ML Engineering student and a passionate tech enthusiast. I love exploring and learning cutting-edge
    technologies, focusing on AI/ML, Data Structures & Algorithms, and Full Stack Web Development. My goal is to
    leverage technology to build impactful solutions and contribute to the development of intelligent systems.

    What I Do:
    AI & Machine Learning: Exploring the fascinating world of artificial intelligence, building models, and working with
    data.
    Full Stack Development: Crafting web applications with MERN stack and modern frameworks.
    Problem-Solving: Constantly improving my skills in Data Structures and Algorithms to create optimized solutions.</p>

  <%- include("partials/footer.ejs") %>